USE [master]
GO
/****** Object:  Database [Test]    Script Date: 12/18/2021 11:02:57 PM ******/
CREATE DATABASE [Test]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  Schema [Config]    Script Date: 12/18/2021 11:02:57 PM ******/
CREATE SCHEMA [Config]
GO
/****** Object:  Table [Config].[Blocks]    Script Date: 12/18/2021 11:02:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Config].[Blocks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](512) NULL,
 CONSTRAINT [PK_Blocks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Config].[Configurations]    Script Date: 12/18/2021 11:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Config].[Configurations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BlockId] [int] NULL,
	[KeyName] [nvarchar](256) NOT NULL,
	[KeyValue] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_Configurations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Config].[Configurations]  WITH CHECK ADD  CONSTRAINT [FK_Configurations_Blocks] FOREIGN KEY([BlockId])
REFERENCES [Config].[Blocks] ([Id])
GO
ALTER TABLE [Config].[Configurations] CHECK CONSTRAINT [FK_Configurations_Blocks]
GO
/****** Object:  StoredProcedure [Config].[EnvironmentConfigurationGet]    Script Date: 12/18/2021 11:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Config].[EnvironmentConfigurationGet] 
AS
BEGIN 
SET 
  NOCOUNT ON;
SELECT 
  b.Name as BlockName,
  c.KeyName, 
  c.KeyValue
FROM 
  Config.Configurations c 
  inner join Blocks b on c.BlockId = b.Id
  END
GO
